<section class="photo-section first-section">
	<h1 class="main-text slide-down-text">Photostory</h1>
	<h2 class="main-text slide-left-text">Show your story</h2>
</section>

<section class="photo-section second-section">
	<div class="{{if showSecondSection 'saturate'}}">
		<img src="/images/homepage/snowy-scenery.jpg" alt="Snowy">
	</div>
	<h2 class="main-text {{if showSecondSection 'second-section-text'}}">Whether it be a trip to the mountains...</h2>
</section>

<section class="photo-section third-section">
	<div class="{{if showThirdSection 'gray'}}">
		<img src="/images/homepage/city-night.jpeg" alt="Quiet Town">
	</div>
	<h2 class="main-text third-section-text">Or at a quiet town at night...</h2>
</section>

<section class="photo-section fourth-section">
	<div class="{{if showFourthSection 'saturate'}}">
		<img src="/images/homepage/strawberry-blueberry.jpeg" alt="Strawberry Blueberry">
	</div>
	<h2 class="main-text fourth-section-text">Or just everyday life (with fruits)...</h2>
</section>

<section class="photo-section fifth-section">
	<div class="{{if showFifthSection 'darkBg zoomedOut'}}">
		<div class="{{if showFifthSection 'dark zoomOut'}}">
			<img src="/images/homepage/real-estate.jpeg" alt="Story in Living Room">
		</div>
	</div>
	<h2 class="main-text fifth-section-text">There is always a story to tell</h2>
</section>

<section class="photo-section sixth-section">
	<h2 class="main-text {{if showSixthSection 'sixth-section-text'}}">So here's the deal</h2>
</section>

<section class="photo-section seventh-section">
	<div class="row icon-row">
		<div class="columns small-1"></div>

		<div class="columns small-2">
			<i class="fi-photo seventh-section-icon"></i><br/>
			<p class="seventh-section-icon-description"><b> Photo </b></p>
		</div>
		<div class="columns small-2">
			<i class="fi-plus seventh-section-icon"></i>
		</div>
		<div class="columns small-2">
			<i class="fi-wrench seventh-section-icon"></i>
			<p class="seventh-section-icon-description"><b> Our simple to use tools </b></p>
		</div>
		<div class="columns small-2">
			<i class="fi-plus seventh-section-icon"></i>
		</div>
		<div class="columns small-2">
			<i class="fi-pencil seventh-section-icon"></i>
			<p class="seventh-section-icon-description"><b> Text </b><br>(optional)</p>
		</div>

		<div class="columns small-1"></div>
	</div>
	
	<div class="row create">
		<div class="columns medium-offset-4 medium-4 end">
			{{#link-to 'index' class="button"}}Create Now!{{/link-to}}
		</div>
	</div>

</section>

<section class="photo-section eighth-section">
	<div class="{{if showEighthSection 'saturate zoomIn'}}">
		<img src="/images/homepage/galaxy.jpeg" alt="Galaxy">
	</div>
	<div class="eighth-section-icon">
		<i class="fi-photo"></i>
	</div>
	<div class="eighth-section-text">
		<p class=""><span class="header"><b>Less</b></span><span class="smaller-header"> is more</span></p>
		<p class="text">We live in a day and age where there are so many, <br> photos hardly seem valuable like they once were.</p>
		<p>So, choose 12 of your best and let them be highly valued.</p>
	</div>

</section>

<section class="photo-section ninth-section">
	<div class="{{if showNinthSection 'blur'}}">
		<img src="/images/homepage/frame.jpg" alt="Frame">
	</div>
	<div class="ninth-section-icon">
		<i class="fi-photo"></i>
	</div>
	<div class="ninth-section-text row">
		<div class="columns small-1"></div>

		<h1 class="header columns small-4">Frame by Frame <br> Sixteen by Nine</h1>
		<div class="columns small-2"></div>
		<p class="text columns small-4">Twelve of your best photos framed to a 16:9 aspect ratio. <br> Treat your friends to an immersive experience</p>
		<div class="columns small-1"></div>
	</div>

	<div class="top-left-frame"></div>
	<div class="bottom-right-frame"></div>

</section>

<section class="photo-section tenth-section">
	<div class="">
		<img src="/images/homepage/thailand-beach.jpeg" alt="Breeze">
	</div>
	<div class="tenth-section-icon">
		<i class="fi-wrench"></i>
	</div>
	<div class="tenth-section-text">
		<h1>Imagine a breeze</h1>
		<p>But why imagine when our simple-to-use-tool will make showing your stories truly a breeze?</p>
	</div>

</section>

<section class="photo-section eleventh-section">
	<div class="{{if showEleventhSection 'first-text'}}">
		<h1>We will always have stories to tell...</h1>
	</div>

	<div class="{{if showEleventhSection 'second-text'}}">
		<h1>So let us help you display your story</h1>
	</div>

	<div class="{{if showEleventhSection 'third-text'}}">
		<h1>Your photostory.</h1>
	</div>

</section>

<section class="photo-section twelfth-section">
	<div class="{{if showTwelfthSection 'saturate zoomIn'}}">
		<img src="/images/homepage/photo-of-photo.jpeg" alt="Photo">
	</div>

</section>

<section class="photo-section sign-up-section">
	<div class="row title">
		<h1>Create your first Photostory on us!</h1>
	</div>
	<div class="row">
		<div class="small-offset-2 small-8 medium-offset-4 medium-4 columns plan-box">
			<div class="header">
				<h2>Pro</h2> <h3>plan</h3>
			</div>
			<div>
				<ul>
					<li><i class="fi-check icon"></i> Amazing Photo Effects</li>
					<li><i class="fi-check icon"></i> Captivate Family	&amp; Friends</li>
					<li><span class="strikethrough"><i class="fi-x icon icon-x"></i> $1.99 only </span></li>
					<li><i class="fi-check icon icon-check"></i> Free (1x)</li>
				</ul>
			</div>
			<div class="create">
				{{#link-to 'create' class="button"}}Create Now!{{/link-to}}
			</div>

		</div>
	</div>

</section>
